@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px; /* o larghezza desiderata */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4f4f4f; /* colore del pollice */
    border-radius: 3px; /* angoli arrotondati del pollice */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222222; /* colore della traccia */
  }
